<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ERROR</title>
	<meta name="description" content="The HTML5 Template">
	<meta name="author" content="Kebrom Brhane">
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<ul class="ul" class="centerText">

		<li class="li"><a class="active">System Message</a></li>


		<li style="float:right"> <a href="/login">Login in </a> </li>
	</ul>
	<h1>System Message</h1>
	<h2>{{message}}</h2>
</body>

</html>